.song {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  &__cover {
    width: 28rem;
    border-radius: 50%;
  }

  &__name {
    padding: 3rem 1rem 1rem 1rem;
  }

  &__artist {
    font-size: 1.6rem;
  }
}